.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.label {
    font-size: 14px;
    color: #444;
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #d06a2b;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -8px;
}

.button,
.otpresend {
    background-color: #d06a2b;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button:hover,
.otpresend:hover {
    background-color: #b55520;
}

.recontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
}

.otpresend {
    display: block;
    padding: 10px 5px;
    width: 50%;
}

.notallowed {
    cursor: not-allowed;
    background-color: #a83d04af;
}
.notallowed:hover{
    background-color: #a83d04af;
    cursor: not-allowed;
}